<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'expense/css/bootstrap.min.css '  %}">


  <style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

</head>


</head>
<body>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h1 class="h1">Expense Tracker</h1>
      </div>
    </div>
  <div class="row mt-5">

    <div class="col-5 mx-auto border bg-light text-center">
      <h1 class='h2 pt-3'>Enter New Password</h1>
      <hr>
      <div class="">
        <form method="post" action="{% url 'reset_password_done' %}" class="form text-start">
          {% csrf_token %}

        
          <label class="h5">New Password:</label>
          <div class="mb-3">
            <input type="password" name="new_pass" class="form-control">
          </div>
          <input type="hidden" name="email" value="{{ email }}">

          <div class="text-end mb-5">
            <input type="submit" name="Change Password" value="Change Password" class="btn btn-primary  btn-block ">

          </div>
        </form>
      </div>
    </div>
  </div>
  
  <script type="text/javascript" src="{% static 'expense/js/jquery.js'%}"></script>
  <script type="text/javascript" src="{% static 'expense/js/popper.js'%}"></script>
  <script type="text/javascript" src="{% static 'expense/js/bootstrap.min.js'%}"></script>

</body>
</html>