<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'expense/css/bootstrap.min.css '  %}">


  <style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

</head>


</head>
<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Expense Tracker</a>
    <h1 class="h3 text-light text-start">
      {{username }}
    </h1>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="{% url 'logout' %}">Sign out</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'user_dash'%}">
                <span data-feather="home"></span>
                Dashboard 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_cat'%}">
                <span data-feather="file"></span>
                Add Category
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_exp'%}">
                <span data-feather="shopping-cart"></span>
                Add Expenses
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_exp'%}">
                <span data-feather="users"></span>
                View Expenses
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'history' %}">
                <span data-feather="bar-chart-2"></span>
                Historical Expense
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Spending Trends
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'help_supp' %}">
                <span data-feather="layers"></span>
                Help and Support
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Profile Setting
              </a>
            </li>
          </ul>

        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>

        </div>
        <div class="row">
          <div class="col-3">
            {% for i in month %}
              {{i.month}}
            {% endfor %}
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">Current Month's Expense</div>
              <div class="card-body">
                <h5 class="card-title text-center" style="font-size:36px">
                  {% if month is not None %}
                    {{ month.exp_expense__sum }}$
                  {% endif%}
                </h5>
                
              </div>
            </div>  
          </div>
          <div class="col-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">Total Expense so far</div>
              <div class="card-body">
                <h5 class="card-title text-center" style="font-size:36px">

                  {% if sum.exp_expense__sum is not None %}
                      {{ sum.exp_expense__sum }}$</h5>
                    
                    {% endif%}
              </div>
            </div>          
          </div>
          
          <div class="col-3">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
              <div class="card-header">Total No of Transactions</div>
              <div class="card-body">
                <h5 class="card-title text-center" style="font-size:36px">
                  {% if count > 0 %}
                {{ count }}
                {% endif%}
              </h5>
                
              </div>
            </div>
          </div>  
          <div class="col-3">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">Max/Min/Average</div>
              <div class="card-body">
                <h5 class="card-title text-center" style="font-size:26px">
                  {% if high.exp_expense is not None %}
                    {{ high.exp_expense }}$ / {{ low.exp_expense }}$ / {{ avg }}$
                  {% endif %}
              </h5>
              </div>
            </div>

          </div>

        </div>
        <div class="row mt-5">
          <div class="col-5 ">
            
            <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Month</th>
        <th scope="col">No of Transactions</th>

        <th></th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for i in monthly_data %}
      <tr>
        <th scope="row">{{ forloop.counter}}</th>
        <td>{{ i.month}}</td>
        <td>{{ i.total }}</td>
        
      </tr>

      {% endfor %}

    </tbody>
  </table>  

          </div>
        </div>
        



      </main>
    </div>
  </div>



  <script type="text/javascript" src="{% static 'expense/js/jquery.js'%}"></script>
  <script type="text/javascript" src="{% static 'expense/js/popper.js'%}"></script>
  <script type="text/javascript" src="{% static 'expense/js/bootstrap.min.js'%}"></script>

</body>
</html>